simple_form_for(@opinion) do | p | %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
    <%= f.input :opinion, "What's your Opinion", imput_html: { class: "textarea" }, wrapper: flase, lable_html:
      {class: "lable"}, placeholder: "Write your opinion here..." %>
  </div>
</div>
<%= f.button :submit, class: "button is-info" %>
<% end %>