/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.title {
  color: white;
}

.navbar-brand .title {
  color: white;
}

// round images

.image {
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

#profile {
  height: 100%;
  background-color: #1b2a3d;
}

.panel-block {
  color: white;
}

.menu-list a {
  color: white;
}

.menu {
  background-color: #213246;
  height: 100%;
}

.image.is-128x128 {
  height: 128px;
  width: 128px;
}

.card-footer {
  align-items: center;
  justify-content: center;
  
}

.enable_break {
  white-space: pre-wrap;
}