// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bulma";

.image.is-128x128 {
  height: 128px;
  width: 128px;
}

.card-footer {
  align-items: center;
  justify-content: center;
}
